@import '/scss/variables';

html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    color: $lightColor;
    background-color: $secondaryColor;
}
@media screen and (min-width: 680px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: $lightColor;
}

h1, h2, h3 {
    font-family: "Fjalla One", sans-serif;
    color: $primaryColor;
}

h1 {
    font-weight: 700;
    font-size: 2.4em;
    margin: 60px 0 .5em 0;
    line-height: 1.5;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.3;
}

header {
    margin: 0;
    height: 10vh;
    background-color: $primaryColor;
}


@media screen and (min-width: 680px) {
    header {
        display: flex;
        align-items: center;
    }
}

.logo h1 {
    color: $lightColor;
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0;
    padding: 0 .2em 0;
}

.nav-items { display: none; }

/* TABLET & DESKTOP */
@media screen and (min-width: 680px) {
    .nav-items {
        list-style: none;
        background-color: $primaryColor;
        display: flex;
        margin: 0;
        padding: 0;
        font-size: 1em;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .nav-items {
        padding: 0;
        background: none;
    }
}


@media screen and (min-width: 680px) {
    .nav-items li a {
        color: $lightColor;
        padding: 0 1em;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        transition: all .5s ease-out;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    .nav-items li a {
        color: $lightColor;
        transition: all .2s ease-out;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    .nav-items li a:hover {
        color: $lightColor;
        text-decoration: underline;
    }
}




/* ==== HERO SECTION ====== */
.hero {
    background: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid $primaryColor;
    height: 90vh;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .hero .hero-content {
        padding: 4em 2em;
        width: 80%;
    }
}

.hero .hero-content .heroh1 {
    background: rgba(156, 138, 165, 0.5);
    padding: .5em .5em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: $secondaryColor;
    line-height: 1.2;
    font-size: 2.2em;
    margin-bottom: 0;
    width: 90%;
}

.hero .hero-content .heroh2 {
    background: rgba(156, 138, 165, 0.5);
    padding: 0 .5em .5em;
    color: $secondaryColor;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 0;
    width: 90%;
}

.container {
    margin: 2em auto 0;
    width: 90%;
}

/* TABLET & DESKTOP */
@media screen and (min-width: 680px) {
    .container {
        padding: 3em;
        width: 70%;
    }
}

hr {
    background-color: $primaryColor;
    width: 25%;
    height: 10px;
    margin: 0 0 2em;
    border: none;
}


.recent-work {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

/* TABLET & DESKTOP */
@media screen and (min-width: 680px) {
    .recent-work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1em;
    }
}

.recent-work .recent-work-container {
    box-shadow: 0 0 2rem RGBA(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 3em;
    overflow: hidden;
}

/* TABLET & DESKTOP */
@media screen and (min-width: 680px) {
    .recent-work .recent-work-container {
        flex-basis: 47%;
        margin-bottom: 1em;
    }
}

.recent-work .recent-work-container img {
    display: block;
    max-width: 100%;
    opacity: 1;
    height: auto;
    transition: .5s ease;
}




/* TABLET & DESKTOP */
@media screen and (min-width: 680px) {
    .recent-work .recent-work-container .text-container .text .button {
        padding: .5em;
    }
}







/* ============= FOOTER SECTION ============= */
footer {
    background-color: $primaryColor;
    font-size: .7em;
    padding: 5em 0;
    text-align: center;
}