header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 8vh;
    background-color: $primaryColor;
    
    @media screen and (min-width: 680px) {
        height: 10vh;
        align-items: center;
    }
    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
}



.container {
    margin: 2em auto 0;
    width: 90%;

    /* TABLET & DESKTOP */
    @media screen and (min-width: 680px) {
            padding: 3em;
            width: 70%;
    }
}




/* ============= FOOTER SECTION ============= */
footer {
    background-color: $primaryColor;
    font-size: .7em;
    padding: 5em 0;
    text-align: center;
}